{% if page.author %} {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.owner %} {% endif %}

<div class="cover">
  {% if author.avatar %}
  <div class="avatar">
    <a href="{{ site.url }}/">
      <img src="{{ site.url }}/img/{{ author.avatar }}" alt="{{ author.name }}" class="avatar-img">
    </a>
  </div>
  {% endif %}
  
  <div class="author-name">
    <a href="{{ site.url }}/">{{ author.name }}</a>
  </div>
  
  <div class="author-job">{{ author.job }}</div>
  <div class="author-bio">{{ author.bio }}</div>
  
  <nav class="navigation">
    <a href="{{ site.url }}/" class="nav-link">
      {% include icon.html name='leaf' %}
      Home
    </a>
    
    <a href="{{ site.url }}/archive.html" class="nav-link">
      {% include icon.html name='archive' %}
      Archive
    </a>
    
    <a href="{{ site.url }}/categories/" class="nav-link">
      {% include icon.html name='folder' %}
      Categories
    </a>
    
    <a href="{{ site.url }}/tags.html" class="nav-link">
      {% include icon.html name='tag' %}
      Tags
    </a>
    
    <a href="{{ site.url }}/resume.html" class="nav-link">
      {% include icon.html name='user' %}
      Resume
    </a>
  </nav>
  
  {% include social-links.html %}
</div>
